@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
Footer section styling: */

footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    background-color: #0a2e44;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow: hidden;
    padding-top: 60px;
    margin-top: 10rem;
}

/* Shape divider styling: */

.footer-shape-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.footer-shape-divider svg {
    position: relative;
    display: block;
    width: calc(133% + 1.3px);
    height: 100px;
}

.footer-shape-divider .shape-fill {
    fill: #144764;
}


.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 3rem 2rem 1rem;
    z-index: 0;
    position: relative;
}

.footer-column h2,
.footer-column h3 {
    margin-bottom: 1rem;
    font-weight: 600;
}

.footer-column p,
.footer-column ul li {
    font-size: 0.95rem;
    margin-bottom: 0.6rem;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #40c9ff;
}

.social-icons {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    cursor: pointer;

    & span:nth-child(1):hover {
        color: blue;
        transition: all 0.3s linear;
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
    }

    & span:nth-child(2):hover {
        color: palevioletred;
        transition: all 0.3s linear;
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
    }

    & span:nth-child(3):hover {
        color: black;
        transition: all 0.3s linear;
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
    }


    & span:nth-child(4):hover {
        color: red;
        transition: all 0.3s linear;
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
    }


}

.footer-bottom {
    text-align: center;
    padding: 1rem 0;
    background-color: #062030;
    font-size: 0.9rem;
    margin-top: 2rem;
}