/* .navbar {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
}

.navbar-brand i {
  margin-right: 8px;
  color: #3498db;
}

.nav-link {
  font-weight: 500;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}

.nav-link:hover {
  color: #3498db !important;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --navbar-background: #1B5E20;
  --navbar-text: #FFFFFF;
  --navbar-hover: #F9A825;
  --button-background: #F9A825;
  --button-text: #212121;
  --button-hover: #0288D1;
}

header {
  width: 75%;
  height: 12vh;
  margin: auto;
  border-radius: 50px;
  background-color: #fefefe;
  position: fixed;
  z-index: 1;
  margin: 0 6.5rem;
  top: 1%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  /* gap: 3rem; */

  /* gap: 3rem; */

  & .container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
    padding: 0rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    & .nav-left {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;

      & .logo {
        /* text-align: center; */
        /* width: 100%; */

        /* width: 5rem; */
        width: 9rem;

        & img {

          width: 100%;
        }
      }

      .menu {
        & ul {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 3rem;

          & li {
            list-style: none;

            & a {
              text-decoration: none;
              color: black;
              text-transform: uppercase;
              position: relative;

              &::after {
                content: '';
                position: absolute;
                justify-self: anchor-center;
                width: 0%;
                height: 2px;
                bottom: -10%;
                background-color: var(--button-background);
                transition: all 0.3s linear;
                -webkit-transition: all 0.3s linear;
                -moz-transition: all 0.3s linear;
                -ms-transition: all 0.3s linear;
                -o-transition: all 0.3s linear;
              }

              &:hover::after {
                width: 100%;

              }
            }
          }
        }
      }

    }

    & .nav-right {
      text-align: end;
      gap: 2rem;
      display: flex;
      flex-direction: row;

      & li{
        list-style: none;
      }

      &  button {
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
        background-color: var(--button-background);
        border: none;
        color: black;
        letter-spacing: 0.1rem;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        cursor: pointer;
        font-weight: 600;
        text-transform: uppercase;
       
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;

        &:hover {
          background-color: transparent;
          border: 2px solid var(--button-background);

        }
      }
    }
  }
}

.nav-right a{
  width: 50%;
}

/* NavbarToggle.css */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 22px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 999;
  visibility: hidden;

}

.line {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform-origin: center;
}

/* Toggle open - animate to X */
.hamburger.is-active .line:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
  -webkit-transform: translateY(9px) rotate(45deg);
  -moz-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);

}

.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active .line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* Navbar responsiness styling: */

@media screen and (max-width:768px) {
  header {
    height: 15vh;

    & .container {
      & .nav-right {
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }
}

@media screen and (max-width:1200px) {

  header {
    margin: 0rem 2rem;

    & .container {
      padding: 0rem;
    }
  }


  .hamburger {
    visibility: visible;

    & span {
      background-color: black;
    }

  }

  .hamburger.is-active {
    & span {
      background-color: white;
    }
  }

  .hamburger.is-active {
    position: absolute;
    right: 10%;
  }

  .nav-left {
    gap: 0rem;

    & .menu {
      display: none;

    }

    & .mobile-menu {

      height: 100vh;
      width: 100vw;
      position: fixed;
      z-index: 999;
      top: 0;
      left: 0;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.9);
      overflow-y: hidden;
      transition: 0.5s;

      & ul {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;

        & li a {
          position: relative;
          padding: 8px;
          text-decoration: none;
          font-size: 36px;
          color: #818181;
          display: block;
          transition: 0.3s;

          &::after {
            content: '';
            position: absolute;
            justify-self: anchor-center;
            width: 0%;
            height: 2px;
            bottom: -1%;
            background-color: #f1f1f1;
            transition: all 0.3s linear;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
          }

          &:hover::after {
            width: 30%;

          }

          &:hover,
          &:focus {
            color: #f1f1f1;
          }
        }
      }
    }
  }

  .nav-right {
    display: flex;
    gap: 0.5rem;

    & button {
      font-size: 0.8rem;
      padding: 0.5rem 1.2rem;
    }
  }
}